<div class="container">
    <div class="left">
      <div class="icon-list-left">
        <img src="assets/friendly_tank.png" alt="Tank 1" />
        <img src="assets/friendly_dps.png" alt="dps 1" />
        <img src="assets/friendly_dps.png" alt="dps 2" />
        <img src="assets/friendly_support.png" alt="sup 1" />
        <img src="assets/friendly_support.png" alt="sup 2" />
      </div>
      <h1>Left Half</h1>
      <p>This is the left side of the screen.</p>
      
    </div>
    <div class="icon-list-right">
        <img src="assets/enemy_tank.png" alt="Tank 1" />
        <img src="assets/enemy_dps.png" alt="DPS 1" />
        <img src="assets/enemy_dps.png" alt="DPS 2" />
        <img src="assets/enemy_support.png" alt="Sup 1" />
        <img src="assets/enemy_support.png" alt="Sup 2" />
      </div>
    <div class="right">
      <h1>Right Half</h1>
      <p>This is the right side of the screen.</p>
    
    </div>
    

  </div>